/* Estilos para el efecto de desvanecimiento tipo Thanos */
#thanos-effect {
  position: absolute;
  text-align: center;
  pointer-events: none;
  z-index: 9999;
  background: transparent;
}

#thanos-effect canvas {
  position: absolute;
  left: 0;
  top: 0;
  transition: transform 1.5s ease-out, opacity 1.5s ease-out;
}

.preview-item {
  position: relative;
  background-color: white;
}

/* Clase de transición para ocultar el elemento original */
.thanos-disappearing {
  opacity: 0;
  transition: opacity 0.15s ease-out;
} 