/* Estilos para el efecto de desvanecimiento tipo Thanos */
#thanos-effect {
  position: absolute;
  text-align: center;
  pointer-events: none;
  z-index: 9999;
}

#thanos-effect canvas {
  position: absolute;
  left: 0;
  top: 0;
  transition: transform 1.5s ease-out, opacity 1.5s ease-out;
}

.preview-item {
  position: relative;
} 